# LAB | Ensemble Methods

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In this Lab, you should try different ensemble methods in order to see if can obtain a better model than before. In order to do a fair comparison, you should perform the same feature scaling, engineering applied in previous Lab.

In [49]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [50]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

Now perform the same as before:
- Feature Scaling
- Feature Selection

In [51]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

spaceship.dropna(inplace = True)
spaceship['Cabin'] = spaceship['Cabin'].apply(lambda x: x[0])
spaceship.drop(columns=["PassengerId", "Name"], inplace = True)


#Dummies
ohe = OneHotEncoder(sparse_output=False)

ohe.fit(spaceship[['HomePlanet','CryoSleep',"Cabin","Destination", "VIP"]])
df = ohe.transform(spaceship[['HomePlanet','CryoSleep',"Cabin","Destination", "VIP"]])
df_total = pd.DataFrame(df, columns=ohe.get_feature_names_out(), index=spaceship.index)
spaceship_df = pd.concat([spaceship, df_total], axis = 1)
spaceship_df.drop(columns = ['HomePlanet','CryoSleep',"Cabin","Destination", "VIP"], inplace= True)


#Normalization/ Standarization
normalizer = MinMaxScaler()
normalizer.fit(spaceship_df[["Age","RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]])
train_norm = normalizer.transform(spaceship_df[["Age","RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]])
train_norm_df = pd.DataFrame(train_norm, columns = ["Age","RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"], index=spaceship_df.index)
final_df = pd.concat([spaceship_df, train_norm_df], axis = 1)
final_df.drop(columns = ["Age","RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"], inplace= True)
final_df

,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True
0,False,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,True,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,False,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,False,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,True,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
8689,False,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
8690,True,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
8691,False,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
8692,True,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

**Perform Train Test Split**

In [52]:
#your code here
features = final_df.drop(columns = ["Transported"])
target = final_df["Transported"]
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state=0)

**Model Selection** - now you will try to apply different ensemble methods in order to get a better model

- Bagging and Pasting

In [53]:
#your code here
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, root_mean_squared_error

bagging_clas = BaggingClassifier(DecisionTreeClassifier(max_depth=20), n_estimators=100,  max_samples = 1000)
bagging_clas.fit(X_train, y_train)
y_pred_test_bag = bagging_clas.predict(X_test)

print(f"MAE {mean_absolute_error(y_pred_test_bag, y_test): .2f}")
print(f"MSE {mean_squared_error(y_pred_test_bag, y_test): .2f}")
print(f"RMSE {root_mean_squared_error(y_pred_test_bag, y_test): .2f}")
print(f"R2 score {bagging_clas.score(X_test, y_test): .2f}")

MAE  0.27
MSE  0.27
RMSE  0.52
R2 score  0.73

- Random Forests

In [54]:
#your code here
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100, max_depth=20)
forest.fit(X_train, y_train)
y_pred_test_rf = forest.predict(X_test)

print(f"MAE, {mean_absolute_error(y_pred_test_rf, y_test): .2f}")
print(f"MSE, {mean_squared_error(y_pred_test_rf, y_test): .2f}")
print(f"RMSE, {root_mean_squared_error(y_pred_test_rf, y_test): .2f}")
print(f"R2 score, {forest.score(X_test, y_test): .2f}")

MAE,  0.27
MSE,  0.27
RMSE,  0.52
R2 score,  0.73

- Gradient Boosting

In [57]:
#your code here
from sklearn.ensemble import GradientBoostingClassifier
gb_clas = GradientBoostingClassifier(max_depth=20, n_estimators=100)
gb_clas.fit(X_train, y_train)
y_pred_test_gb = gb_clas.predict(X_test)

print(f"MAE, {mean_absolute_error(y_pred_test_gb, y_test): .2f}")
print(f"MSE, {mean_squared_error(y_pred_test_gb, y_test): .2f}")
print(f"RMSE, {root_mean_squared_error(y_pred_test_gb, y_test): .2f}")
print(f"R2 score, {gb_clas.score(X_test, y_test): .2f}")

MAE,  0.27
MSE,  0.27
RMSE,  0.52
R2 score,  0.73

- Adaptive Boosting

In [65]:
#your code here
from sklearn.ensemble import AdaBoostClassifier
ada_clas = AdaBoostClassifier(DecisionTreeClassifier(max_depth=20), n_estimators=100)
ada_clas.fit(X_train, y_train)
y_pred_test_ada = ada_clas.predict(X_test)

print(f"MAE, {mean_absolute_error(y_pred_test_ada, y_test): .2f}")
print(f"MSE, {mean_squared_error(y_pred_test_ada, y_test): .2f}")
print(f"RMSE, {root_mean_squared_error(y_pred_test_ada, y_test): .2f}")
print(f"R2 score, {ada_clas.score(X_test, y_test): .2f}")

MAE,  0.27
MSE,  0.27
RMSE,  0.52
R2 score,  0.73

Which model is the best and why?

In [ ]:
#comment here
#We are getting the same results in terms of precision